.zt_content {
    margin-top: 20px;
}

.zt_content_left {
    float: left;
    width: 310px;
    background: #f5f8f9;
    overflow: auto;
}

.zt_content_left h2 {
    color: #1d58a2;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    border-bottom: 2px solid #ccd3e0;
}

.zt_content_right {
    margin-left: 330px;
}

.zt_list_banner {
    height: 150px;
    width: 100%;
}

.zt_list_banner img {
    display: block;
    width: 100%;
    height: 100%;
}

.zt_list_title {
    font-size: 20px;
    height: 54px;
    line-height: 54px;
    color: #4d4d4d;
    font-weight: normal;
    border-bottom: 1px solid #d9d9d9;
}

.zt_product_indr {
    height: 54px;
    line-height: 54px;
    border-bottom: 2px solid #b3b3b3;
}

.zt_product_indr h3 {
    margin: 0;
    font-size: 14px;
    color: #4d4d4d;
    height: 54px;
    line-height: 54px;
    display: inline-block;
    border-bottom: 2px solid #1d50a2;
    width:70px;
    text-align: center;
}

.zt_def_hide{
	display: none;
}
.zt_dl{
	margin-bottom: 10px;
}
.zt_dd{
	padding-left:15px;
	margin-top:10px;
}

.zt_dl a,
.zt_dl a:link,
.zt_dl a:visited,
.zt_dl a:focus,
.zt_dl a:active {
    color: #4d4d4d;
    text-decoration: none;
}
.zt_dl dt{
	font-weight: normal;
}
.zt_dl dt a{
	font-size: 14px;
}
.zt_dl dd{
	margin-bottom: 5px;
}
.zt_dl dd li{
    margin-bottom: 10px;
}
.zt_dl dd li,.zt_dl dd li a{
	font-size: 12px;
}
.glyphicon-plus-sign,.glyphicon-plus-sign{
	color:#4d4d4d;
}
.zt_indr_item{
	
}
.zt_dl.zt_list dt a,
.zt_dl.zt_list dt a:link,
.zt_dl.zt_list dt a:visited,
.zt_dl.zt_list dt a:focus,
.zt_dl.zt_list dt a:active {
    color: #1d50a2;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.zt_dl.zt_list dd a,
.zt_dl.zt_list dd a:link,
.zt_dl.zt_list dd a:visited,
.zt_dl.zt_list dd a:focus,
.zt_dl.zt_list dd a:active {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.zt_indr_item{
	background:#f5f8f9;
	height: 150px;
}
.zt_indr_item_img{
	width:150px;
    height: 150px;
	float: left;
}
.zt_indr_item_img img{
	width:100%;
    height: 100%
}
.zt_indr_item_list{
	margin-left:165px;
}
.zt_product_wrapper_list{
	margin-top:28px;
}
.zt_product_wrapper_list .col-md-6:nth-child(odd){

}
.zt_product_wrapper_list .col-md-6:nth-child(even){

}
.zt_product_wrapper_list .col-md-6{
	margin-bottom: 15px;
}
.zt_indr_item_list h2{
    font-size: 16px;
    color:#1d50a2;
    margin:0;
    height: 50px;
    line-height: 50px;
}
.zt_indr_more{
    margin-top:50px;
}
.zt_indr_more a,
.zt_indr_more a:link,
.zt_indr_more a:visited,
.zt_indr_more a:focus,
.zt_indr_more a:active{
    display: inline-block;
    background: #1d50a2;
    color: #fff;
    padding: 5px 15px;
    border-radius: 8px; 
    text-decoration: none;
}